[2018-02-25 17:34] trainorpj opened #2 "Twitter Credit/Visibility?"
Hey @atomiks, this is really fantastic.  So fantastic that I [tweeted about it](https://twitter.com/pj_trainor/status/967813110378713088).

I was looking for some way to tweet this out, but I just copy/pasted the link.  So I have two questions for you:

1. Do you have a twitter handle?  I'd love to give you credit (and so would others, I'm sure)
2. Have you considered adding twitter functionality?

[2018-02-25 21:38] atomiks commented on #2
Thanks for tweeting it 😄! I don't have a twitter handle no, but I understand how popular twitter is in the dev community because I constantly see links to it so I'll definitely consider this.

[2018-02-25 21:47] trainorpj commented on #2
Sounds good! The site is just fine without it, but let me know if you need any help in the future 🤝

[2018-02-26 12:31] woraperth opened #3 "Wonderful project!"
Hi @atomiks

This project is awesome! I found many CSS snippets I always need when working on frontend development project :)

I have shared your project here with Thai frontend & web design community: https://www.designil.com/css-code-snippet-30-sec.html.

Please let me know if you would like to add anything about yourself. I think your great work deserve more than just a name and Github link!

P

[2018-02-26 13:12] atomiks commented on #3
Thanks tons for sharing the project link!
The link won't be going anywhere unless GitHub explodes 💥

More snippets to come overtime as I think of them and people contribute (hopefully) 😅

[2018-02-26 13:14] woraperth commented on #3
Awesome! ☺️ I will contribute when I come up with something useful!
On Tue, 27 Feb 2018 at 00:13, atomiks <notifications@github.com> wrote:

--
Woratana Ngarmtrakulchol (Perth)
*Founder at Designil.com, Growthbee.com, Data Science ชิลชิล*

Web design & development portfolio <https://studio.designil.com/> | LinkedIn
<https://www.linkedin.com/in/woratana-ngarmtrakulchol-0079b766/>

[2018-02-26 15:24] kriadmin opened #4 "[FEATURE] On the spot experimentation feature"
Add an option to edit the `CSS` to experiment freely. `30-seconds-of-code` is basically all JS so we can easily copy paste in the browser console but in this project to experiment with some other values, we have to go to CodePen or something same. I would recommend making something of your own to change the CSS of the demo but you might even use some external service.

[2018-02-26 18:44] Chalarangelo commented on #4
If I may add my two cents to this discussion, Codepen has an easy URL-based API where you can send your HTML/CSS/JS code along with dependencies and a name to create a new pen. Maybe you can use some advanced JS magic to generate links with all the necessary code for each snippet to make Codepens for people to test the code and play around with it.

[2018-02-26 22:07] atomiks opened #7 "Parcel build"
Sometimes the `dist/` folder gets created despite `docs/` being specified as the output.

Sometimes more files are generated to `docs/` than there needs to be.

[2018-02-26 22:55] atomiks commented on #4
I thought of this while making it (particularly the triangle snippet), so yeah I'd say it's a good idea 😄

[2018-02-27 05:30] kriadmin commented on #4
@atomiks  @Chalarangelo  Can't we just create a style-element for each snippet with the id as it's name and then change the innerHTML as what the user provides. We can make add content-editable on double-click. The idea of using codepen is good but won't it take time?

[2018-02-27 07:47] bitstarr opened #10 "System Font Stack Review"
Hi,

I suggest to change the order of the first two fonts from ´´-apple-system, BlinkMacSystemFont,´´ to ´´BlinkMacSystemFont, -apple-system,´´.

Otherwise IE will use a serif font, which is the opposite of the intended behaviour.

[2018-02-27 07:49] atomiks commented on #10
Which IE? GitHub itself puts `-apple-system` first

[2018-02-27 07:51] Chalarangelo commented on #10
In general, `-apple-system` comes before `BlinkMacSystemFont` in most font stacks I have seen.

[2018-02-27 08:20] SelenIT opened #11 "Clearfix caveats"
The "clearfix" snippet is marked as having no caveats. Hovewer, it's relying on the two assumptions and might fail if they are not true:

1. There are no non-floating children in the container (example where such a child apparently breaks clearfix: http://jsfiddle.net/o9rbryxp/16/);
2. There are no tall floats before the clearfixed container but in the same formatting context, e.g. floated columns

[2018-02-27 08:56] atomiks commented on #11
I believe so, feel free to make a PR addressing these 🕊

[2018-02-27 12:14] boyum opened #14 "Popout menu caveats"
What a wonderful site! I really like the easy to understand tips and tricks.

For the popout menu, I think accessibility should be added as a possible caveat. A popout menu isn't necessarily inaccessible, but one should be careful adding crucial information behind a non-focusable element. I think either adding a bit of information on the topic or simply making the example component more accessible

[2018-02-27 12:19] boyum opened #15 "Truncate text caveat"
Explicitly specifying that text truncation only works on single line elements might be useful. I know that it says so under the heading, but some people (like me) might oversee that.

[2018-02-27 14:38] kartofelek007 opened #17 "Padding top"
There is some issue on padding-top example.
https://atomiks.github.io/30-seconds-of-css/#constant-width-to-height-ratio

Padding-top defined in % is calculated on parent element width:
https://codepen.io/kartofelek007/pen/NyEeMa

[2018-02-27 15:56] Chalarangelo commented on #7
I cannot reproduce the issue on my computer, however I would suggest adding the `dist/` folder to `.gitignore` so that it doesn't get in the way (unless there are plans to actually use said folder, in which case this needs to be sorted out in a different way).

[2018-02-27 16:04] Chalarangelo commented on #14
I, too, think this is something that has some space for improvement. `tabindex` and `:focus` sound like a really good starting point for this.

[2018-02-27 17:26] lauragift21 commented on #3
I just think this is a really great idea. I'm going to contribute to this awesome project. :+1:

[2018-02-27 18:15] xori opened #22 "Pretty text underline isn't so pretty"
This might be a personal preference, but that underline doesn't look pretty to me.

![image](https://user-images.githubusercontent.com/1091220/36746119-806b1ff8-1bbf-11e8-9230-70a76722b04b.png)

Windows 10, Chrome 64.0.3282.167

[2018-02-27 19:25] atomiks commented on #22
<img src="https://i.gyazo.com/7811352b0dfb7b4bd856320293c8d9e1.png">

It should be more like this. I'm guessing `em` might stuff up when a different font is used.

[2018-02-27 19:36] #17 closed

[2018-02-27 19:52] Muhnad commented on #22
@atomiks @xori  we can use `text-decoration-skip-ink`  but this is not supported yet in all browsers.

[text-decoration-skip-ink](https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-skip-ink)
[text-decoration-skip:](https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-skip)

[2018-02-27 23:16] cuth opened #26 "Can't click through the gradient on the "Overflow scroll gradient""
### Overflow scroll gradient

This snippet adds a transparent-to-white gradient on top of a scrollable area giving the effect that the content is fading away. For the majority of the area underneath this content, a user would think it would still be able to interact with the content but the gradient would block any interaction.

#### TLDR
Buttons at the bottom of the scroll area are un-clickable.

[2018-02-27 23:17] atomiks commented on #26
Waiting to be implemented here: #23
I can add it manually if he doesn't respond though

[2018-02-27 23:17] #26 closed

[2018-02-28 01:24] FrontToEnd commented on #3
star! this is a really really good idea.

[2018-02-28 02:08] scottaohara opened #28 "Small screen menu button only visually conveys state"
The menu button, which changes from a hamburger to an X on small screen view ports, does not appropriately convey state to assistive technologies.

Expected:

When the navigation is closed the button should have an `aria-expanded="false"`.
When the navigation is opened the button should have an `aria-expanded="true"`.

Doing so will convey the button as "collapsed" or "expanded", respectively, whe

[2018-02-28 07:41] Varunram opened #29 "Edit Contributing template"
Hey, nice project there. I see that the contributing template has some stuff missing. I'd be happy to put in a PR if you could tell what's needed (or remove the sections entirely).

[2018-02-28 07:52] atomiks commented on #29
Thanks, which stuff? Feel free to make a PR with any changes

[2018-02-28 07:54] Varunram commented on #29
This one: https://github.com/atomiks/30-seconds-of-css/blob/master/CONTRIBUTING.md

[2018-02-28 07:56] atomiks commented on #28
Merged: #27

[2018-02-28 07:57] atomiks commented on #29
Click `Raw` for everything. Or is that what you saw?

[2018-02-28 07:59] mantlecurve commented on #10
In ubuntu, the font i set for UI is not working. Probably need to use `system-ui`

[2018-02-28 08:00] #15 closed

[2018-02-28 08:01] atomiks commented on #10
@mantlecurve

Does this work?
[code]

[2018-02-28 09:11] mantlecurve commented on #10
This one works
`-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"`

[2018-02-28 09:20] atomiks commented on #10
@mantlecurve check this article about using `system-ui`: https://infinnie.github.io/blog/2017/systemui.html

[2018-02-28 09:29] mantlecurve commented on #10
That makes sense. But in my case i wanted the system-ui font. I have seen spectre.css use it. That's why suggested.

[2018-02-28 09:31] Chalarangelo commented on #10
In my opinion, `system-ui` should not be part of the font stack presented in the snippet. People might get in trouble using it and, if they actually need it, like @mantlecurve, they can always include it in their code. Snippets are supposed to be good starting points for common tasks, helping people get a project working. Everyone is encouraged to modify them to fit their specific needs and projec

[2018-02-28 09:38] atomiks opened #30 "Snippet structure & philosophy"
This issue is about the design/structure of snippets and their content.

- Some snippets' HTML/CSS code does not line up with the demo. I made it that way so that I could include the bare minimum CSS needed to create an effect, but this has the problem of not matching the demo and not being reproducible if they copy/paste the code. How should this be handled?

- Should the browser support have an

[2018-02-28 09:44] Chalarangelo commented on #30
I do believe the project could do with some more in-depth contribution guidelines, especially addressing these issues. My opinion on these specific points is as follows:

- The provided snippet code should be the bare minimum to use the concept/design in a project. It does not matter if it does not actually show anything if copied to an empty project, many of the snippets create containers or desi

[2018-02-28 11:56] scottaohara commented on #28
Hey @atomiks, this issue is separate from the pr you accepted. This issue hasn’t been taken care of.

Thanks

[2018-02-28 12:02] atomiks commented on #28
Woops. I thought that was addressed there

[2018-02-28 13:56] sinout commented on #30
A Few thoughts on this topic:

1. I agree with @Chalarangelo that

  Also live editing of demo could be a good solution to see what effects are applied.

2. It is a good idea to have a simple copy button. But I don't think it should convert copied code as long as snippet contains "Browser support" section with links and warnings.

[2018-02-28 13:59] LukyVj opened #33 "Super nice, but you could credit authors :)"
I like this project a lot, and it's similar to a project of mine.
While scrolling on your page tho, I've noticed a few css thingy I've seen on codepen and elsewhere, and I thought it would be cool to credit the authors :)

Like this one :)  https://codepen.io/electerious/pen/MQrRxX

[2018-02-28 14:16] sinout commented on #33
@LukyVj Snippets provided in this project are built using native css/js features. They are not using any external libraries or authored projects. So I think no credits needed.

[2018-02-28 14:40] scottaohara commented on #14
There are actually quite a few caveats with accurately conveying a "popout menu" component to screen readers, let alone sighted keyboard users, that just can not be done with CSS alone.

1. A `button` should really be the element that is the trigger for such a component.  If going the route of using a `div` and adding a `tabindex`, an ARIA `role="button"` would need to be set to the `div` and Java

[2018-02-28 16:52] LukyVj commented on #33
Hey! Thanks for your quick response :)
I meant the concepts, and not the features used.

[2018-02-28 18:41] pcanella opened #36 "[FEATURE] Add multi-line text ellipsis (even if it includes JS)"
Title says it all 😄 . Perhaps a few different methods (`::before` content method, `-webkit-box` method, etc) to do this? It is definitely a common pain point and for some reason I always run into it. Both static and variable width with a static height would be great too!

[2018-02-28 21:32] #33 closed

[2018-03-01 01:59] Monkeysnick commented on #3
Love this project so much!

[2018-03-01 04:22] CITguy opened #41 "[BUG] Disable Select"
FYI: `user-select: none;` isn't foolproof.  While it may prevent direct highlighting, it doesn't prevent selecting through the unselectable content.

I'll let this gif do the talking.

![selecting-the-unselectable-10fps](https://user-images.githubusercontent.com/545605/36826779-5736afaa-1cd5-11e8-94cb-f3fa47d8370c.gif)

Chrome Version 64.0.3282.167

[2018-03-01 04:49] Varunram commented on #29
Yeah, that's what I saw. Liens with `<!--` are automatically commented and I thought it'd be better to have something in the html and css sections or remove them entirely if nothing can be put there.

[2018-03-01 05:11] atomiks commented on #41
I'm not sure anyone intends to use it to prevent someone copying content? It's mainly for buttons or icons that should be visual without being selectable.

[2018-03-01 08:58] atomiks opened #42 "Snippet categories + searching"
As the list of snippets grows, it will be necessary to categorize them to make them more easily searchable.

Some category ideas I have:

**Layout**
- `Evenly distributed children`
- `Horizontal and vertical centering`
- `Box-sizing reset`
- `Truncate text`
 etc.

**Animation** (possibly even a loaders subcategory)
- `Donut spinner`
- `Hover underline animation`
- `Mouse cursor gradient tracking`

[2018-03-01 12:23] wasnlosdu commented on #41
Hey @CITguy , the W3 spec has some usefull information on this topic.
[They write](https://drafts.csswg.org/css-ui-4/#valdef-user-select-none):

So I don't know if this is the right place to report it.
But thank you for the information 🐈

[2018-03-01 16:26] Chalarangelo commented on #42
I definitely like the idea. Something similar to `30-seconds-of-code`'s `tag_database` could work just as well, only difference being the build script needing some changes. I could set up the file and `tagger` system by duping and updating the JS repo's code, then someone else can handle the build process.

[2018-03-01 16:27] Chalarangelo commented on #41
Could be added as a note that this is not a secure method to prevent copying. I don't think there's a lot of other options about this anyways.

[2018-03-01 20:30] joshbader opened #46 "[BUG] Hairline Border Explanation Typo"
The Explanation section has one of the `dppx` listed as `ddpx`.

[2018-03-01 21:41] #46 closed

[2018-03-01 21:42] atomiks commented on #46
Good catch, all fixed. 😉

[2018-03-01 22:24] atomiks commented on #42
Personally I think the tags should be in the files themselves in a comment. This prevents the need to worry about two files when tagging.

[2018-03-02 00:36] #28 closed

[2018-03-02 00:52] atomiks opened #48 "Use Vue for docs?"
Since some user interactivity is being added, it might be a good idea to make everything more declarative and use components and all other benefits it brings.

Vue can be easily be plugged in to the page without a complex build system, so we don't need to use single file components etc. as that would be overkill.

[2018-03-02 07:10] equinusocio commented on #41
...and if you can read it. You can copy (rewrite) it :)

[2018-03-02 07:12] equinusocio opened #50 "MDN browser compatibility data"
Hi, MDN is making a tool to handle his browser compat data to show on the MDN site. Can this help for this project?

https://github.com/mdn/browser-compat-data

It is pretty simple:

[code]

[2018-03-02 08:23] atomiks commented on #50
`caniuse-db` seems to work fine for most features but we'll see

[2018-03-02 17:55] ribeiroevandro opened #52 "[FEATURE] Translate Project"
Fantastic this project, have thought to make the translation of it to other languages?

[2018-03-02 22:24] atomiks commented on #22
This should be ok now since it uses a websafe font like Arial. But I'll consider different methods (not the native one) soon.

[2018-03-02 22:24] #22 closed

[2018-03-02 22:28] atomiks commented on #52
In the future definitely, but not right now as there are more important things I need to do (people can translate the text using their browser at the moment).

[2018-03-02 23:43] ribeiroevandro commented on #52
I understand, I will make a fork of the project and I will do the translations gradually, it will be a way to study and improve my level of English...

[2018-03-03 08:39] fejes713 commented on #52
Thanks for pointing that out @ribeiroevandro. Right now the project is in the pretty young state. There is no need to translate it for now. Later, as our user base grows and we get more contributors we can reopen this issue.

[2018-03-03 08:39] #52 closed

[2018-03-03 09:07] Chalarangelo commented on #50
I suggest we close this for now, as `caniuse-db` is a mature tool that works quite well so far. MDN's information on browser support has been outdated in the past and it might take a while for their tool to mature and be ready to use. Plus, I see no reason to switch if we already have a working solution.

[2018-03-03 09:11] Chalarangelo commented on #48
I think that Vue, much like React, will slow down the page significantly, meaning that when the repo reaches snippet counts well into the hundreds it might be difficult to load on a 3G connection or so. However, I have limited experience with Vue, so it might not be as cumbersome as React. Apart from that, it's probably a cool idea to use Vue as long as the loading times are not significantly slow

[2018-03-03 09:13] Chalarangelo commented on #42
The main issue with not using a second file for tags is that it might be difficult to track uncategorized files (or at least it might require more code). However, it's not a huge deal, and it can easily be switched back and forth between a database file and inline tagging, so I think this is gonna be entirely fine even if we somehow decide to change the system later on.

[2018-03-03 09:19] #41 closed

[2018-03-03 09:21] equinusocio commented on #50
I was thinking more to use this with the can i use db. Not a switch. But ok 👍🏻🙂

[2018-03-03 09:23] Chalarangelo commented on #50
@equinusocio Could you elaborate a bit about that idea?

[2018-03-03 09:33] #3 closed

[2018-03-03 09:35] Chalarangelo commented on #10
The current font stack works quite well on most systems and, having done some research, it's quite versatile, so we're gonna stick with it for now. However, it most certainly cannot acommodate everyone's needs. Snippets are a starting point for common tasks and we encourage developers to tweak them and alter them to suit their needs.

[2018-03-03 09:35] #10 closed

[2018-03-03 09:36] fejes713 commented on #48
I would like to learn Vue too. Have 0 experience with it. If it doesn't slow down the page significantly we could use it.

[2018-03-03 09:39] Chalarangelo commented on #29
@Varunram the lines that contain `<!--` are comments that you can only see when editing the file, so that they do not make it into the final results. The idea is for that file to be edited to create new snippets.

[2018-03-03 09:39] #29 closed

[2018-03-03 09:51] #11 closed

[2018-03-03 11:57] Varunram commented on #29
Ah, makes sense now, Thanks!

[2018-03-03 12:37] #4 closed

[2018-03-04 20:12] AmirBraham opened #59 "Ablility to select multiple tags [FEATURE]"
Hi ,this is my first contribution to open source so I hope I know what I'm doing in !
First , I really like this project Idea and find it very useful !
what may enhance user experience is the ability to choose 2 or more tags
Let's say I want to see both the visual and interactivity tag ?
(one way of achieving this is holding shift while selecting tags ! )
I'd love to help out on this feature !

[2018-03-04 22:34] atomiks opened #60 "Bouncing loader on iOS: first two circles start animation at the same time"
I noticed while browsing this morning and not sure why. Worked perfectly on Chrome.

[2018-03-05 03:32] KaiOrange opened #61 "This library lets me write fewer CSS styles."
o(≧v≦)o~~好棒

[2018-03-05 22:27] atomiks commented on #60
Checked again and now it's working...

[2018-03-05 22:27] #60 closed

[2018-03-06 07:17] xialvjun opened #64 "[FEATURE] Better Constant width to height ratio"
[code]

No need to worry about padding.

[2018-03-06 07:52] atomiks commented on #64
Very nice. Please make a PR with these changes and I'll merge ASAP!

[2018-03-06 08:04] xialvjun commented on #64
In fact, I'm lazy. 🙏Orz.
Eh, and my English is not that good, en, that's the excuse.

[2018-03-06 08:04] #64 closed

[2018-03-06 12:54] obsidienne opened #66 "[FEATURE] Use multi-columns and grid to form design"
Hi,

The following link shows a pretty good use of grid and multi-columns layout: https://medium.com/@patrickbrosset/css-grid-css-multi-columns-7664f59bb60c

Maybe add it to the site ?

[2018-03-06 13:37] Chalarangelo commented on #66
That looks quite interesting, I'd like to have it implemented. If nobody else is willing to give it a shot, I could give it a go.

[2018-03-06 13:37] #61 closed

[2018-03-06 20:23] ro0t commented on #66
Upvote from me, could even be a "grid" category which shows a few commonly used column setups.

[2018-03-07 13:30] kriadmin commented on #59
@AmirBraham I opened a PR check #72

[2018-03-10 13:10] equinusocio commented on #50
Nothing to say :) I was just thinking that maybe you can use both data from caniuse and mdn (when caniuse does not cover it). But as you said, `caniuse-db` is a mature tool that works quite well so far.

[2018-03-10 13:10] #50 closed

[2018-03-10 13:15] equinusocio opened #76 "Please keep it simple :)"
I made some PR here with the aim of keeping the examples simple and easily legible. Now some snippets HTML/CSS are over-complicated compared to what they do. Here an example:

https://atomiks.github.io/30-seconds-of-css/#counter

You can just use a couple of `ul` with 4 or 5 `li` inside them to use this snippet. When i will have time i will fix some of these, but it would be nice if we kept everyt

[2018-03-15 10:51] drapisarda opened #80 "[FEATURE] last-child or last-of-type on :not selector snippet"
Hi to all!
It could be useful to add a cite to _:last-of-type_ selector in the ":not selector" snippet.
Last-of-type is generally more reliable than :last-child in that context or at least a nice thing to be aware of.

I thought of this, reading this article by Timothy B. Smith
https://brightlycolored.org/2017/02/css-tip-use-not-to-save-time-and-lines-of-code/

[2018-03-15 17:45] acidrums4 opened #82 "Lobotomized selector instead of ':not selector'"
Hello there,

I think for situations like described on ':not selector' (when you have, say, an unordered list rendered as a horizontal menu and you want borders between them, but not the left-border of the first element or the right-border of the last... you know what I mean) it's way more simple and elegant to use [the lobotomized owl selector](https://css-tricks.com/lobotomized-owls/).

So inste

[2018-03-15 18:52] Chalarangelo commented on #82
The second code snippet will actually select everything except for the `:first-child` as it is applied to the last element in the selector. Unfortunately, CSS has no way to stylize a previous element in the hierarchy (meaning you cannot look ahead to check if there is an element of a specific type following an element that you want to stylize).

[2018-03-15 18:52] #82 closed

[2018-03-15 18:57] acidrums4 commented on #82
Well, I think this went lost into translation...

At least hope you did notice the first example with `border-right` against my example with `border-left` and the intention to do that.

[2018-03-15 20:49] diomed opened #83 "[FEATURE] background transparency"
Nice addition to this great repo would be : background transparency:

nicely explained in this stackoverflow answer:

https://prnt.sc/irr3c0

if you could implement it, it'd be great.

[2018-03-15 21:18] atomiks commented on #82
I think it can be added as a new snippet because it's interesting 😄

[2018-03-17 09:02] atomiks opened #85 "Switch docs CSS units from `rem` to `px`?"
I've long used `rem` but when the window is being resized or elements are transitioning in height, it can cause ugly 1px jitters everywhere. With `px`, this doesn't occur.

`px` is also responsive on most browsers when the zoom level is changed.

https://hackernoon.com/rems-and-ems-and-why-you-probably-dont-need-them-664b9ce1e09f

@Chalarangelo

[2018-03-17 09:24] Chalarangelo commented on #85
In general `rem` and `em` are a lot better than using `px`. It's softcoding vs hardcoding. I am strongly against using pure `px` everywhere. My usual approach is to do the following:
- Use `px` at the root element and elements that need to be specifically in `px` values (border thickness comes to mind usually).
- Use `rem` for pretty much everything else, so that the styling is uniform and can be

[2018-03-18 19:47] fejes713 commented on #85
I totally agree with @Chalarangelo on that one. I've also read a lot about ems and rems and they're just fine in most cases. I don't think we should change it.

[2018-03-18 19:48] #2 closed

[2018-03-18 19:59] fejes713 commented on #66
@Chalarangelo I think I will have some free time this week, I could implement commonly used grid column setups.

@atomiks Any opinions on this one? Should we add `grid` category even if we have `layout`?

[2018-03-20 09:48] equinusocio commented on #83
I think that this project goal is not to describe each single css property...

[2018-03-20 09:52] equinusocio commented on #80
This snippet does not work because last-of-type can be used only on type selectors.
[https://jsfiddle.net/znLh8vbg/2/](https://jsfiddle.net/znLh8vbg/2/)

[2018-03-20 10:14] diomed commented on #83
this is not about describing this property at all.

It's about how bunch of beginners in web design are running into issue of
their text fading together with their background, because they are not aware
of this proper way. if this repo could get that closer to them that would be great.

[2018-03-20 10:45] drapisarda commented on #80
Your snippet actually works if you close the _small_ tag:
this is not valid HTML
`<a href="/link-to-post/" title="Permalink to post">
      <h2>Post Title</h2>
      <small>Thurs, Feb 16, 2017<small>
    </a>`

this is valid
`<a href="/link-to-post/" title="Permalink to post">
      <h2>Post Title</h2>
      <small>Thurs, Feb 16, 2017**</small>**
    </a>`

Updated (and working) snippet here: http

[2018-03-20 11:19] equinusocio commented on #83
This is a normal css property with its value. There is MDN for that. If this will be merged we should also merge how to define a border, how do change an element display... and so on with all the css properties.

`rgba()` is just a css color type...and `background: transparent` is required only to override a background color property since almost no one elements have a predefined background color.

[2018-03-20 11:26] diomed commented on #83
fine. whatever

[2018-03-20 11:32] equinusocio commented on #80
Sorry, here the fixed snippet.
https://jsfiddle.net/m2qz8c14/10/

As you see if the first element have no class, the code stop working.

[2018-03-20 11:34] equinusocio commented on #83
@diomed I'm not the owner of this project. Keep it open and let see

[2018-03-20 11:42] drapisarda commented on #80
The css actually works. There's no "not last" element, so the "not last element" style is not applied, correctly.

The proper css should select` li:not(:last-of-type)` to achieve the desired behavior. Or you have to use `.post` class for all the li.

What you're addressing as a non working code is  wrong css (or wrong html, if you prefere)

[2018-03-20 12:08] equinusocio commented on #80
@drapisarda Ok sorry, i was confusing with `:first-of-type` that have the issue of type-selector

[2018-03-20 14:45] equinusocio commented on #80
No. The issue in my previous snippet. The second `<li>` should be red.
https://jsfiddle.net/m2qz8c14/24/

[2018-03-20 14:54] drapisarda commented on #80
OK. Now I got it.  In .lorem:last-of-type the matching element is both a .lorem classed element and the last sibling of that element. It's similar for .lorem:first-of-type .

Known that I still propose to mention :not(:last-of-type) in the 30SoCSS snippets.

[2018-03-20 15:17] equinusocio commented on #80
Yes yes, i was confused about that but the snippet is valid, but i think is a bit similar to
https://atomiks.github.io/30-seconds-of-css/#not-selector

[2018-03-23 00:17] Batur24 opened #86 "feat: randomly send code snippet email"
This repo is quite useful. I am wondering, if have a feature that can send randomly code snippet email to users every day, so that we can learn little by little every day.

Just a thought in mind

Thanks for awesome work!

:)

[2018-03-23 03:32] atomiks commented on #86
That would indeed be cool, but I think there needs to be more snippets first before we can do this

[2018-03-27 10:27] yairEO opened #88 "better code for "Constant width to height ratio" example"
You don't need the both `::after` & `::after` pseudo elements at all, it is known for centuries that you only need one of them, ans set it to have:

    content: '';
    display: block;
    padding-top: 100%;

[2018-03-27 12:06] atomiks commented on #88
The current method ensures content within the element isn't pushed down due to the padding.

[2018-04-19 01:39] ZeroDot1 opened #91 "[CSS/FEATURE] HTML5 audio/video player in a dark style"
[code]

[2018-05-07 07:18] maxxiaobao opened #92 "[ Height transition ] it's un useful by max-height （question）"
On the example https://codepen.io/anon/pen/jxaWQw, use JavaScript to control the `max-height`,
 I try to use css to finish like below
[code]
 The result is: when you hover the trigger, the content will showing, but no transition.
This makes me confused, could you tell me the reason when you have time, thanks a lot!

[2018-05-07 23:07] atomiks commented on #92
The `max-height` needs to be set the variable:

[code]

[2018-05-10 07:27] maxxiaobao commented on #92
thanks

[2018-05-10 07:27] #92 closed

[2018-10-01 03:52] atomiks commented on #7
`rimraf` before build in the docs directory solves it.

[2018-10-01 03:52] #7 closed

[2018-10-01 03:52] atomiks commented on #48
Don't think there's any point at this stage. Vanilla JS is fine for such a simple page.

[2018-10-01 03:52] #48 closed

[2018-10-01 03:53] #42 closed

[2018-10-01 03:56] atomiks opened #99 "[FEATURE] "New" icon for new snippets less than 1 month old?"
This could also apply to the [Code](https://github.com/30-seconds/30-seconds-of-code) and Interviews repos.

Take a look at [Billboard's](https://www.billboard.com/charts/hot-100) sexy SVG icon:

![icons](https://i.gyazo.com/ec81b1ba8789eb3d357933522b808135.png)

[2018-10-01 05:05] skatcat31 commented on #99
I dislike the gradient due to contrast problems, but I think this is a great idea. It could possibly be confusing though. We might want another badge about newly released features too

[2018-10-01 05:07] skatcat31 commented on #48
With ES6 imports React no longer requires a build process either. Angular is now the only major frontend framework that must be built that I know of. Between Vue, React, and ES6 modules it should be easy enough to do these features in the future as well

[2018-10-01 05:28] Chalarangelo commented on #99
`New` snippets was something I wanted to add to 30code for a while. The only issues are that my theorized implementation would probably tag as `new` snippets that have been recently changed (not a problem, that would alert long-time users to anything new in the repo) and that if a PR takes over a month to merge, the files might not be properly tagged. However, with some build diff magic, this coul

[2018-10-01 05:36] skatcat31 commented on #99
We could check date of file creation and if date is new enough tag as new?

[2018-10-01 05:44] skatcat31 commented on #48
I'm trying to find the package you need to import to add JSX support to the browser so it'll transpile for you without babel but I'm having a dandy of a time finding it...

[2018-10-01 05:55] skatcat31 commented on #48
an older example(easily updated) that has some slightly slow performance:

https://www.sitepoint.com/getting-started-react-jsx/

This is because of transpiling in browser. We could also just use `React.createElement()` directly:

https://medium.com/@clmyles/react-without-npm-babel-or-webpack-1e9a6049714

[2018-10-02 06:51] atomiks opened #102 "[FIX] Autoscoping for snippet styles"
The current naive solution was to use a "namespace" (`.snippet-demo`) for the demo code, but it's arduous to type and repeats the main visible code. We should just use the code inside the main code blocks, and when building, generate a custom scope for the styles so they don't conflict with other snippets or the global styles.

This means the demo should match the code exactly, which is better for

[2018-10-02 17:52] skatcat31 commented on #102
I may be misunderstanding you, but won't generating a custom scope for the styles just repeat the code itself anyways? Or are you suggesting we move the namespacing chore to the build script?

[2018-10-03 02:04] atomiks commented on #102
Example: [`circle.md`](https://raw.githubusercontent.com/30-seconds/30-seconds-of-css/master/snippets/circle.md)

The code that is actually displayed on the website is within `<style>`, notice, it's namespaced with `.snippet-demo__` so the styles don't conflict with the global ones or other snippets.

I'm suggesting to autoscope the selectors during the build script and forget about manually creat

[2018-10-03 17:51] skatcat31 commented on #102
prepend any CSS selector with a data scope selector? The problem is that to understand this, the design needs to account for complex cases with several classes in the code. It may be better to generate a SCSS or .less string and pass it to the parse for output because then you merely need to wrap the style with the namespace selector and it'll do it for you?

[2018-10-03 21:59] atomiks commented on #102
Yeah I was thinking this. I thought a smart parser would be needed because my quick tries with regex were failing.

But with SCSS you can just stick everything inside a single block and it works. It shouldn't be too hard to convert the SCSS to CSS with the script.

[2018-10-04 04:54] skatcat31 commented on #102
either that or less, both will namespace inside the single block very similarly. It should be pretty easy and regex should be minimal. Gotta love those build tools right?

[2018-10-04 23:32] atomiks commented on #102
Resolved in #103

[2018-10-04 23:32] #102 closed

[2018-10-05 04:38] atomiks commented on #99
#104

[2018-10-05 04:38] #99 closed

[2018-10-08 18:01] fejes713 commented on #86
@Batur24 We were planning this for quite some time - and you aren't the first one mentioning this.

To me this sounds like the **fantastic** idea, we will definitely make something in the future. 👍

I am closing this now for obvious reasons. Thanks again for showing interest in this!

[2018-10-08 18:01] #86 closed

[2018-10-08 18:35] fejes713 opened #106 "[BUG] Sidebar navigation doesn't seem to work"
Sidebar used to be scrollable, now it doesn't work. Does anyone have similar issues, if so do you have any idea why is that happening?

Environment:
MacOS Mojave & Chrome 69.0.3

[2018-10-08 18:39] Chalarangelo commented on #106
I cannot confirm this, works fine on Firefox 63.0b12/Windows 10.

[2018-10-08 18:45] fejes713 commented on #106
Confirmed. Works on my Firefox as well. Might be a bug with Chrome version I am using right now.

[2018-10-08 18:47] Chalarangelo commented on #106
Works on Chrome 69.0.3497.100/Windows 10 for me. But I see what appears to be a custom scrollbar in the navigation panel, could that be causing the issue?

[2018-10-08 18:56] flxwu commented on #106
Works for me on Chrome 71 aswell

[2018-10-08 21:36] skatcat31 commented on #106
I cannot recreate this issue and it seems local. @fejes713 can you confirm what version you're on for Chrome and then update and try again with version confirmation?

This way we might be able to get an old canary build or just note it.

[2018-10-16 12:17] Physsi07 commented on #85
Hey, I would like to know if you want to change everything from rem to px, I can do this if you still want?

[2018-10-16 12:59] Physsi07 commented on #66
Hey, what about this issue, is it still an issue, do you think I can swork on it, I would love to, please let me know, and some explanation about the problem with a screenshot please

[2018-10-17 00:04] skatcat31 commented on #85
https://developer.mozilla.org/en-US/docs/Web/CSS/length

Might shed some light for you guys on how font sizes work

[2018-10-17 00:42] atomiks commented on #85
The reason I've used `rem` is so everything scales down responsively when I use a root font size of `0.935rem` for <768px which fits more content on the screen. But there are rounding problems with `rem`, see:

<img src="https://i.gyazo.com/2b2bd14979ba26de611ec1153189d2a5.png" width="400">

That's why I just use `px` now for everything. Pretty sure it's fine for accessibility because `px` scales

[2018-10-17 17:21] cocody opened #110 "[BUG] Hairline border is not work in safari"
![](https://pic1.zhimg.com/v2-30cbb07ed7be3c740f6f9c2700f2a93b_r.jpg)

[2018-10-17 17:30] atomiks commented on #110
It's already noted:

Technically it's a "Requires JavaScript" snippet and should have the JS required for cross-browser support. Feel free to make a PR

[2018-10-18 01:50] cocody commented on #110
Need some more general method to replace it, like `transform: scaleY(0.5)`

[2018-10-18 03:29] atomiks commented on #110
That distorts the element, not sure what other property would create a border..

I think you need to check Chromium (all browsers using the engine would not support subpixel values on `border` I think) and use `box-shadow`, otherwise use `border`. Firefox's box-shadow is not as perfect as the border.

[code]

[code]

[2018-10-18 15:56] #110 closed

[2018-10-21 05:53] FarkasJanos commented on #88
Related snippet added here
#114

[2018-10-25 11:40] soliniak opened #118 "Box sizing [Discussion]"
Hey!
You wrote:
`html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
`
But wouldn't be better to just use this?
`
*{
box-sizing: border-box;
}
`
Which apply border-box to every element on page, unless you specify different in choosen element.
:v:

[2018-10-27 09:03] Chalarangelo commented on #76
Closing due to inactivity, we are looking into snippet complexity in general, so hopefully some issues will be addressed in the coming weeks.

[2018-10-27 09:03] #76 closed

[2018-10-28 08:46] slavanga opened #120 "[BUG] user-select needs prefixes"
The example for disable selection currently only works in Blink-based browsers.
Other browsers still need vendor prefixes for the user-select property:

[code]

[2018-10-30 07:55] atomiks commented on #120
Generally prefixes are avoided because of commonly-used tools like autoprefixer. Notes are added on browser support:

[2018-10-30 07:55] #120 closed

[2018-10-30 07:57] atomiks commented on #118
It allows pseudo-elements to inherit the parent's rule which may not necessarily be `border-box`, I think..

[2018-11-05 13:44] Lippe opened #128 "background-positioning with calc()"
I don't know where else to put this suggestion, so I'm starting a new "issue". Your background-positioning example works well but does not need to use calc(). It works with background-position alone and has a slightly different browser support comparing to calc(). Here is a pen to see how it works: https://codepen.io/Lippe/pen/bQNzzX

https://caniuse.com/#feat=css-background-offsets

[2018-12-07 06:14] soliniak commented on #118
Ok. Also this make sens, when you import some plugin or the library and don't know how style look like.
*That's how someone explained to me. ;)

[2018-12-23 06:48] Robe21 commented on #128
😂

[2018-12-23 06:50] Robe21 commented on #14
😁

[2019-01-12 11:13] Chalarangelo commented on #83
I, too, agree that we don't have to explain every CSS attribute, MDN does that quite well. However, if you have a great example of using this along with other things to create something cool, please feel free to submit a PR.

Closing issue due to inactivity...

[2019-01-12 11:13] #83 closed

[2019-01-12 11:17] Chalarangelo commented on #30
I'm gonna close due to inactivity. To add my final thoughs on this:
* It's been a while since we had this discussion, but looking at the website and based on feedback from the community (or lack thereof), I think it's safe to say demo code is alright.
* Live editing would only make the site heavier, Codepen links are more than fine imho.
* Low browser support hasn't been an issue and, based on the

[2019-01-12 11:17] #30 closed

[2019-01-12 11:19] Chalarangelo commented on #106
Been a while, nobody is talking about this. I think it's safe to say it's not a generalized issue and it's not easily reproducible, so I'm closing this for now. Feel free to reopen if you manage to reproduce this and share the info with the rest of us.

[2019-01-12 11:19] #106 closed

[2019-01-12 12:31] Chalarangelo commented on #88
Seems like this has been resolved and there's a PR with an alternative technique. Closing, move discussion under #114 if necessary.

[2019-01-12 12:31] #88 closed

[2019-01-12 12:38] Chalarangelo commented on #80
Closing this due to inactivity. Feel free to comment below if you want to reopen this discussion.

[2019-01-12 12:38] #80 closed

[2019-01-16 09:17] teleginzhenya opened #133 "[FEATURE] Multiline truncation"
What about multiline truncation with `line-clamp`? I can make usage example.
https://caniuse.com/#search=line-clamp

[2019-01-16 09:52] Chalarangelo commented on #133
Sure, why not? Send us a PR, we'd be glad to discuss and merge it.

[2019-01-18 18:15] diomed opened #136 "how to build this?"
There's not a single info on  what this uses to build and how to build page locally if we want to change stuff.
Can you clarify process a bit?

[2019-01-18 18:25] atomiks commented on #136
1. Clone repo and navigate to it
2. Run `npm i && npm run dev`, open localhost:1234

[2019-01-20 21:09] diomed commented on #136
I get `[nodemon] clean exit - waiting for changes before restart`
and then nothing happens, after running `npm run dev`

[2019-01-21 06:05] Offirmo opened #137 "[BUG] Animation / Button Border Animation not clickable"
Small bug: Button Border Animation is not clickable in the left bar.

[2019-01-21 06:05] Offirmo commented on #137
Nice repo btw, you have my star!

[2019-01-21 16:52] atomiks commented on #137
Most likely the file name doesn't match. I think it needs to be identical to the title.

[2019-01-21 16:52] #137 closed

[2019-01-21 16:56] atomiks commented on #136
I just did a fresh clone and ran the above commands, and it ran with no errors. Are you on Windows maybe? On Mac it works fine, I think it might be because of the parallel processes using the `&` operator which is Unix only?

[2019-01-21 17:24] diomed commented on #136
yes, I'm on windows.

first I ran `npm i` then second command.
Coz I couldn't run both. but still no luck. :|

[2019-01-21 17:30] Chalarangelo commented on #136
@diomed Sounds like `nodemon` is closing as it doesn't see anything changed, try adding a space or something to a file somewhere, see if it starts running on save.

[2019-01-21 17:31] atomiks commented on #136
This is what I see:

![Hyper image](https://i.gyazo.com/8d1e7ccf0ed5adbceed01306fe2e338a.png)

[2019-01-21 17:36] diomed commented on #136
This is all that I get:
https://0bin.net/paste/gTr3D3Ec4bdeki+V#Puyiv13h25JXwY1uOgIPr1OaR0RK36pnN3XLQiauJcl

[2019-01-21 17:43] atomiks commented on #136
Doesn't seem like it's running the `parcel` process in parallel. We should use the `concurrently` package maybe

[2019-01-21 17:45] Chalarangelo commented on #136
@atomiks I've never had trouble with this setup (used it in many projects and systems). If we are going to use some package for concurrency, I think `npm-run-all` is another option as well.

[2019-01-21 17:46] Chalarangelo commented on #136
@diomed Have you run `npm i -g parcel-bundler`? Maybe try that and tell us if this works for you afterwards. It might be failing silently due to parcel not being installed.

[2019-01-21 17:58] diomed commented on #136
I tried that, nothing changed. 😕

[2019-01-21 18:00] atomiks commented on #136
@diomed run `npm run dev` in one tab, then `npm run parcel` in another tab in terminal/cmd. That should work.

[2019-01-21 18:40] Chalarangelo commented on #136
if that doesn't work, there's something wrong with your setup most likely. That should definitely work.

[2019-01-21 23:16] pompalini commented on #136
@diomed Could this be a dependency + node/npm version issue?
With Node=10.6.0 and npm=6.4.1 works fine.

[2019-01-22 13:12] diomed commented on #136
@atomiks that indeed works.
Thank You very much.
Cheers!

[2019-01-22 14:05] diomed commented on #136
I always get this error:
[code]

The second is:

[code]

The third is by using local components: components that only accessible by a specific component, and not available elsewhere (great for encapsulation).

The fourth is in `.vue` files, also called **Single File Components**.

Let's dive into the first 3 ways in details.

Using `new Vue()` or `Vue.component()` is the standard way to use Vue wh

[2019-01-22 14:06] diomed commented on #136
I always get this error:

C:\Users\Parsifal\Documents\GitHub\30-seconds-of-css\scripts\build.js:102
  browserSupportHeading.after(
                        ^

TypeError: Cannot read property 'after' of null
    at Object.<anonymous> (C:\Users\Parsifal\Documents\GitHub\30-seconds-of-css\scripts\build.js:102:25)
    at Module._compile (internal/modules/cjs/loader.js:689:30)
    at Object.Module._exte

[2019-01-28 06:18] #133 closed

[2019-02-28 06:59] Antroll opened #139 "[QUESTION] Used color scheme?"
What is the name of the color scheme used to highlight the code? I really liked it.

[2019-02-28 07:07] atomiks commented on #139
Hi @Antroll, it's based off @sdras's Night Owl theme: https://github.com/sdras/night-owl-vscode-theme

You might also like this one I made: https://github.com/atomiks/moonlight-vscode-theme/

[2019-02-28 08:22] #139 closed

[2019-03-01 01:34] blackinitial opened #140 "PWA feature"
it would be better if it was made into PWA.. :)

[2019-03-01 04:16] atomiks commented on #140
Feel free to make a PR, I agree it would be nice to have

[2019-08-13 09:29] Bigerfe opened #147 "hello"
Excuse me, can I translate this document in Chinese?

[2019-08-13 09:42] Chalarangelo commented on #147
@Bigerfe Hi. Translation/localization repositories are not discouraged. If you translate this project and are committed to keeping the translation up to date, comment below with a link at a later time. Might be useful to others as well.

[2019-08-13 09:42] #147 closed

[2019-08-13 09:51] Bigerfe commented on #147
Ok, I understand. The expression I just mentioned may not be clear.
I want to translate this document in Chinese https://30-seconds.github.io/30-seconds-of-css/ . Then, can I do this?

[2019-08-13 09:54] Bigerfe commented on #147
I will keep the source of the original text and encourage everyone to read the original text. Just want to make more people understand easier.

[2019-08-13 09:56] Bigerfe opened #148 "Sorry, I am coming again."
I want to translate this document in Chinese https://30-seconds.github.io/30-seconds-of-css/ .  I will keep the source of the original text and encourage everyone to read the original text. Just want to make more people understand easier.

[2019-08-13 10:00] #148 closed

[2019-08-13 10:01] Chalarangelo commented on #148
Please refer to #147 for this.

[2019-08-13 10:01] Chalarangelo commented on #147
Same deal. Like I said, you can make a repository and add a translation in it. Drop a link here, if you want.

[2019-08-27 12:46] #136 closed

[2019-08-29 13:03] atomiks opened #151 "Reinstate old UI and website link"
@Chalarangelo as far as I'm aware you've recently converted many 30s projects over to new domains and a new starter UI kit. I apologise for being AFK for a few months so I understand you couldn't ask before it transitioned over.

I do like this new UI, however, I think parts of it feel like a beta still and think it could use more polish.

Some big problems I see:

- The link that's first on Googl

[2019-08-29 16:48] Chalarangelo commented on #151
@atomiks, not really. But you could help iron out issues.

- The old link will fix itself, it's a transition on Google's side. This would happen anyways, so I think it's as good a time as any. But I will see if we can use it as a redirect to fix the issue asap.
- Js snippets should be an easy fix, we can look into that one together.
- Point me to specific snippets with overflow problems, we should

[2019-08-29 16:57] Chalarangelo commented on #151
For a more detailed explanation as to why not: The Travis builds were failing, GitHub pages had vulnerabilities and a lot of the websites couldn't be updated properly nor would they work with SEO. The point was to get more consistent while retaining individual identity of each repo. After having made these changes we can do a ton more with the new website and we need to remedy issues as we come ac

[2019-08-29 17:13] Chalarangelo commented on #151
@atomiks I just updated GitHub pages, old link should redirect to the new website anytime now (ETA: 10-15 minutes to work properly), so that's a big one dealt with. I already asked @fejes713 to check the JS and overflow issues so we can get on them tomorrow morning and I will think of a good solution for the scroll issue, too. If you have any ideas and can help us, I'd love the help. 😉

[2019-08-29 19:48] fejes713 commented on #151
I am currently investigating overflowing issues but can't seem to find any. I know they exist because I found them a couple of days ago, but can't seem to find them now. Could anybody point me to the places of those problems?

[2019-08-29 20:51] fejes713 commented on #151
The problem with JavaScript is here:

[code]

This doesn't execute JavaScript code. This `(function(){${snippetData.code.js} })();` would trigger the function if it was on page load since it's IIFE.

As far as I know, injecting script tags like this isn't possible probably due to security reasons.

**Does anyone have an idea of how to approach this?**

I even tried to execute code directly in the

[2019-08-29 20:52] fejes713 commented on #140
I am closing this due to inactivity. Feel free to open a PR as Atomiks suggested. We recently moved to Gatsby so it might be an interesting task.

[2019-08-29 20:52] #140 closed

[2019-08-30 02:34] atomiks commented on #151
**Some overflow problems with elements in the snippets**

Seems to only be the "Fullscreen" snippet

**Some snippets don't gel properly with night mode (as it wasn't accounted for originally) and are hard to see**

Maybe force the demo part to be white? That would look weird though.

\+ Other things I've noticed

- Remove scale hover animation for snippets since you can interact with them, add a c

[2019-08-30 05:16] Chalarangelo commented on #151
@fejes713 I think I have one idea on how to fix the JS snippet issue, let me take a stab at this and I will report back with results.

@atomiks

 - If `overflow` is an issue only on fullscreen, I will see if I can figure it out. It's a minor problem then and should be easy to fix via the snippets' code if necessary.
- Scroll returning to its last state is something I have been thinking about, I ha

[2019-08-30 05:54] Chalarangelo commented on #151
### Update

- The overflow issue in Fullscreen snippet is gone (just a `box-sizing` fix did the trick).
- JS execution works already - although the gradient mouse tracking has some problems with setting `--x` and `--y`.

[2019-08-30 06:20] atomiks commented on #151
**Scroll returning to its last state is something I have been thinking about, I have a proposal but the chances it works might be low.**

Maybe the scrolly container (instead of the body being scrolled) causes this? Otherwise the scroll position might need to be stored in state and read when navigating back

[2019-08-30 06:40] Chalarangelo commented on #151
@atomiks This is a CSS grid issue at its core. I will use Redux to actually restore the scroll if I can. If you have any other ideas, feel free to pitch in.

Meanwhile, I pushed the manual fixes for dark mode on snippets, they should help it all stick together better.

I will be looking into the scrolling issue, container style, etc. in the next couple of hours, but I think I can fix it all today.

[2019-08-30 07:39] Chalarangelo commented on #151
I have just updated the css so that the container is actually set up properly and the scrollbar is moved to the far right of the screen so that it won't feel odd. I will push this same update to other repos. Unfortunately, the way it is now set up doesn't seem like the splash logo at the top can span the whole width, but I might have an idea to fix this via CSS.

The scroll retention when changing

[2019-08-30 07:43] atomiks commented on #151
I think the gradient one has to do with the `offsetParent` calculation, in the new UI it doesn't need it. (Although I thought it was meant to just "work" before in any situation but I guess not lol)

[code]

[2019-08-30 07:49] Chalarangelo commented on #151
@atomiks Ok, I'll test that.

Logo placement and scroll are updated, scroll retention is the only thing missing. We are getting closer!

[2019-08-30 07:53] atomiks commented on #151
This should work:

[code]

[2019-08-30 07:54] Chalarangelo commented on #151
Ok, I'll test and update the snippet.

[2019-08-30 07:58] Chalarangelo commented on #151
it works perfectly, @atomiks. Pushing right away.

[2019-08-30 08:11] atomiks commented on #151
The splash header is offset all the way to the right for some reason.

I think you need to remove the padding from `.content`, remove the `left` from `.splash`, and nes the snippets inside a new container with the padding

[2019-08-30 08:19] Chalarangelo commented on #151
That might mess up a lot of styles. What is the issue with the `.splash` exactly. It looks ok to me on Chrome, on dev mode. It's a Gatsby issue on the production mode, let me fix it real quick.

[2019-08-30 08:23] Chalarangelo commented on #151
@atomiks, wait for the next Netlify deployment to complete and test again in 5 minutes - it should work then.

[2019-08-30 08:26] atomiks commented on #151
Yup seems good @Chalarangelo

Some final CSS polishments:

- Splash header separator doesn't work in night mode
- Make dark mode text (and icon etc) color `#e0e3f2`
- Make "View Snippet" background color `#5d79ff` and makes its `font-size: 0.9rem` and `border-radius: 0.5rem`
- Make the snippet's padding `1rem 1rem 2rem` so that the "View Snippet" doesn't look weird hanging off the end of the card

[2019-08-30 08:31] Chalarangelo commented on #151
Will push momentarily.

Will also push momentarily.

Will also push momentarily, I thought it looked cool hanging off the card, but no problem, we'll go with your option.

Will fix as soon as I can, not sure what is not correct there and why.

Click on a snippet’s name to view its code or a tag name to view all snippets in that category." imo it's redundant

This is here for two reasons: First, ac

[2019-08-30 09:01] Chalarangelo commented on #151
@atomiks Styles updated as promised. Made minor changes (i.e. `0.9rem` is `0.875rem` to get `14px` instead of a sub-pixel value that looks weird in some browsers, changed the `padding` of the cards a little bit more to make the bottom area spacing more consistent with the rest of the card and created more of a palette from the dark mode text color you suggested as to show some difference between p

[2019-08-30 09:08] atomiks commented on #151
I actually did mean to leave it hanging off, just not as much as it was. I should've worded that better. Looks fine now anyway,

The splash shape separator still seems to not work, everything else seems good.

[2019-08-30 09:09] Chalarangelo commented on #151
@atomiks Forgot the separator, sorry, will do it right away! 😉

I also think it looks better if it doesn't hang off, shadows did look a bit weird actually, so better the way it is.

[2019-08-30 09:25] atomiks commented on #151
Definitely had a nice glow-up overall, thanks @Chalarangelo!

**(I promise there's no more that I won't do later now):**

- It's SUPER slight but on day mode, the shape separator on the splash is slightly the wrong color
- Make "CodePen" button the same styling as "View snippet"
- Reduce the code block (`.card .card-code`) padding to a flat `1rem`
- Change the HTML/CSS/JavaScript gradient badge th

[2019-08-30 09:29] atomiks commented on #151
Also something weird I noticed, is that you need to click the "Night mode" icon directly, even though there's padding around it (which changes to the hand cursor icon), I thought it was buggy. The other icons don't require a "direct" click

[2019-08-30 09:42] Chalarangelo commented on #151
@atomiks

Done

Done

Done (the `.card` style is a tiny bit differentiated, but it looks like `1rem` everywhere, bottom `padding` is just off due to positioning, nothing to worry about).

Done

I know it's odd, I have it in mind, it's not a dealbreaker but it's something I want to come back and polish up as soon as I can.

I haven't tried this ever, but it sounds plausible. I was pretty much tryin

[2019-08-30 16:12] Chalarangelo commented on #151
@atomiks I couldn't be more grateful for the suggestion of using the `onRouteUpdate`, which in combination with `onPreRouteUpdate` and some simple logic can act as a scroll memory logic storage for the entire website (plus the rest of the projects). I am pushing this as we speak and it should work on the next build. Along with a few other changes, I will push this to all repo websites and we shoul

[2019-08-30 16:32] Chalarangelo commented on #151
Just added the final touches on my last commit, I am closing this as I think I have resolved every single bullet point that was raised here. Thank you so much for all the constructive criticism and feedback on the implementation, it really helps make our work shine!

[2019-08-30 16:32] #151 closed

[2019-09-18 09:27] Bigerfe commented on #147
Sorry, I am coming now. As you said, I created a warehouse. Please see this. [https://github.com/Bigerfe/30-seconds-zh](https://github.com/Bigerfe/30-seconds-zh)

[2019-09-18 09:27] Bigerfe commented on #147
and...The css part has been translated.

[2019-09-19 02:50] Bigerfe commented on #147
Ok I will continue to update

Thank you

[2019-09-30 06:45] Chalarangelo commented on #66
Closing due to inactivity. Feel free to comment below to reopen...

[2019-09-30 06:45] #66 closed

[2019-09-30 06:45] Chalarangelo commented on #91
Closing due to inactivity. Feel free to comment below to reopen...

[2019-09-30 06:45] #91 closed

[2019-09-30 06:45] Chalarangelo commented on #128
Closing due to inactivity. Feel free to comment below to reopen...

[2019-09-30 06:45] #128 closed

[2019-10-20 10:19] cascading-jox opened #162 "[BUG] offscreen snippet links to scetchy/phising website"
I was just going through the different snippets on the website and saw that the snippet Offscreen links to a website which contain some seemingly malicious content (http://pantswebsite.com). What was it originally website supposed to link to and is it possible to change it to something else that is relevant?

[2019-10-20 10:45] Chalarangelo commented on #162
Feel free to submit a PR removing the link and we will look into the issue in the meantime. Thanks for bringing this to our attention.

[2019-10-20 21:38] drozumek opened #164 "Scam site linked in one of the snippets"
https://css.30secondsofcode.org/

when you go to the Offscreen snippet, the button link to:
pantswebsite.com -which seems to be hacked/scam website
Please check this out.

screen:
https://i.imgur.com/q6FtQgU.png

This is not malware from my PC, this shows on different browsers and different computers.

[2019-10-21 05:13] skatcat31 commented on #164
I don't think it was originally a scam website, but it seems to have been picked up by one. As such we should author a fix.

[2019-10-21 06:09] #164 closed

[2019-10-21 06:09] #162 closed

[2019-10-25 14:39] clintnetwork opened #166 "Change the selection color"
The selection color of the snippets are in dark,  not practical

[2019-10-25 17:12] Chalarangelo commented on #166
Thanks for pointing this out. We'll get to it soon enough.

[2019-10-25 19:12] #166 closed

[2019-10-25 19:12] clintnetwork commented on #166
Good

[2019-11-04 23:38] hjiang4332 opened #167 "[Enhancement] Fix typo in about section on the html page"
The about section in the HTML page on line 898 says: "A few word about us, our goals and our projects."
Could be swapped out for "A few words about us, our goals, and our projects."

[2019-11-04 23:49] badcat commented on #167
I think this is a Serial Comma (Oxford Comma) and would be OK as it stands.

[2019-11-05 05:24] #167 closed

[2019-11-24 05:55] Ranhiru opened #172 "A (hopefully) better Hamburger Button"
I have created what I think to be a more understandable and cleaner [hamburger menu ](https://css.30secondsofcode.org/snippet/hamburger-button). It doesn't have the jitter on hover that's present in the current snippet.

Just want to see what everyone thinks and if what I've done is better understood and cleaner, I'd be happy to send a PR to update the current snippet.

Current version: https://cs

[2019-11-24 06:52] atomiks commented on #172
Great work! Feel free to make a PR

[2019-11-25 04:00] Ranhiru commented on #172
Opened PR #173

[2019-11-25 04:00] #172 closed

[2020-03-20 22:58] PicknikZ opened #180 "Css函数"

[2020-03-21 06:54] #180 closed

[2020-04-17 12:42] #14 closed

[2020-08-05 17:35] Ritwik880 opened #184 "Adding More Snippets for CSS"
1. Media Queries for Standard Devices
2. Lazy loading images
3. Remove duplicates from an array

[2020-08-06 03:04] skatcat31 commented on #184
What do you mean by removing duplicates from an array?

[2020-08-06 03:25] Ritwik880 commented on #184
Removing items from an array, especially if those items are arrays themselves.

 const array = [1, 1, 1, 3, 3, 2, 2];

const unique = [...new Set(array)];
 

const unique = array.reduce((result, element) => {
  return result.includes(element) ? result : [...result, element];
}, []);
 

const unique = array.filter((element, index) => {
  return array.indexOf(element) === index;
});

[2020-08-06 05:09] skatcat31 commented on #184
That's JavaScript, not CSS

[2020-08-06 05:10] Ritwik880 commented on #184
What about  the other two?

[2020-08-06 05:37] Chalarangelo commented on #184
We have discussed this in the past, we will not be implementing this as what is considered standard devices changes quite often. Additionally, the idea of a standard device media query is somewhat outdated as developers are encouraged to develop with features in mind, instead of limiting themselves to standard device media querying.

This one might be more suited for a blog post than anything else

[2020-08-06 08:20] #184 closed

[2020-08-07 02:55] Lakshaya-Sood opened #185 "Add side effect note for the css rules"
In the file [tile-layout-using-inline-block](https://github.com/30-seconds/30-seconds-of-css/blob/4ba94a7d718c57a7aa34d20405896d5633c41ea9/snippets/tile-layout-using-inline-block.md), parent container element is applied a rule `font-size: 0;` which is doing the magic of [removing spaces between blocks](https://css-tricks.com/fighting-the-space-between-inline-block-elements/#set-the-font-size-to-ze

[2020-08-07 05:44] Chalarangelo commented on #185
Hello,

That sounds like a useful piece of information to provide. Could you submit a PR with the appropriate note? You can add an additional point to the list like `- Note: Explain side effect here`.

[2020-08-07 22:34] Lakshaya-Sood commented on #185
Raised a pull request: https://github.com/30-seconds/30-seconds-of-css/pull/186

[2020-08-10 06:08] #185 closed

[2020-09-22 16:15] Taimoor0217 opened #188 "The preview image in "Image Rotate on Hover" is broken."
**Tested Url**
https://www.30secondsofcode.org/css/s/image-hover-rotate

**ScreenShot**
![image](https://user-images.githubusercontent.com/48244930/93908701-64c69600-fd18-11ea-9875-673317e55ac2.png)

**Problem**
The [src url](https://i.picsum.photos/id/669/600/800.jpg) , in the image tag doesnot point to an image anymore.

[2020-09-22 16:15] Taimoor0217 commented on #188
I would like to work on this.

[2020-09-22 19:23] Chalarangelo commented on #188
Sure thing, just change it to another placeholder image from the same site with the same sort of dimensions/aspect ratio. If that site is no longer available, please report back here, we might be in need of a new resource!

[2020-10-01 06:50] #188 closed

[2020-10-04 12:05] Taimoor0217 opened #194 "Is 30-seconds-of-css not participating in Hacktoberfest?"

[2020-10-04 12:07] Taimoor0217 commented on #194
**Details**

Hacktober fest requires, hacktoberfest to be added as a topic in the repository.
The 30-seconds-of-python repo has this added, hoever, 30-seconds-of-css doesnot.

![image](https://user-images.githubusercontent.com/48244930/95015015-14c6c800-0664-11eb-89fb-f20d29d150da.png)

[2020-10-04 13:07] Chalarangelo commented on #194
Yep. We [announced yesterday](https://twitter.com/30secondsofcode/status/1312375464590270465?s=20) that only JS and Python repos will be participating, so that we can actually keep up with PRs that are coming in and review them in time.

[2020-10-04 13:07] #194 closed

[2020-10-08 14:21] crew-guy opened #203 "CSS Neumorphic Buttons"
Neumorphism took off as quite a famous design trend in 2020. It is just a trick of playing with box-shadows on different user actions. Can be easily explained in 30s
May I please work on this ?
![Neumorphic UI](https://user-images.githubusercontent.com/69717009/95452413-d6444c80-0986-11eb-86e4-f81083027ffb.png)

[2020-10-09 07:12] crew-guy opened #205 "CSS : Neumorphic Buttons"
A simple text-shadow and hover manipulation to get really cool looking design buttons

---

![Neumorphic Design](https://codemyui.com/wp-content/uploads/2020/02/Neumorphic-Button-Click-Hover-and-Clicked-Design.gif)

[2020-10-09 09:10] Chalarangelo commented on #205
Duplicate of #203

[2020-10-09 09:10] #205 closed

[2020-10-09 12:35] crew-guy commented on #205
Oh wait so so sorry. Completely forgot I had already done this.

### So am I authorized to work on this or not ?

[2020-10-09 12:40] crew-guy commented on #203
Hi sorry for mentioning this issue again 😅
I am actually a newbie to collaborating on GitHub so I keep making these silly mistakes

### May I please start working on this ?

[2020-10-09 17:29] crew-guy commented on #203
Alright. What more info do you need about this from my side ?

[2021-06-02 23:59] GCnomore opened #217 "Website horizontal scroll (CSS issue)"
Hello!

This is not a huge issue but I just found out that `width` property on `page-container` make itself exceed the parent element's width and creates horizontal scroll.
[code]

Again, not a big deal but just wanted to help make this project perfect!

# Dev tool screenshot
![websitecss1](https://user-images.githubusercontent.com/63283305/120565870-d9cb8e80-c3c2-11eb-9bc3-9dc3d5d70167.png)
</br>

[2021-06-03 00:50] GCnomore commented on #217
Sorry, closing this from css repo and moving it to the web repo

[2021-06-03 00:50] #217 closed